Checks: clang-analyzer-*,
  clang-diagnostic-*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-suspicious-call-argument,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -misc-unused-parameters,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
